{% load static %}
{% load humanize %}
{% load url from future %}
{% load activity_tags %}
{% load phileo_tags %}
{% load comments %}
{% for l in latest %}
	<div class="newsFeedWrapper clearfix" onmouseover="showoptionfeed(this);" onmouseout="hideoptionfeed(this);">
		<div class="clearfix floatL" style="width:8%;"><a href="{{l.author.get_absolute_url}}">
		<img class="mugshotpic" src="{{ l.author.get_profile.mugshot }}" alt=""/></a>
		
		</div>
		<div class="newsFeedItem">
		
			<a href="{{l.author.get_absolute_url}}" class="actorUser"><b>{{l.author}}</b></a>
			
	
			<a href="javascript:void(0);" class="hiding floatR deleteLink colorGrey" data-content="<a href='javascript:void(0);' onclick = 'delete_post({{l.id}},this)' class='deleteItem colorGrey'>Delete</a>">
                <span class="glyphicon glyphicon-remove"></span></a>
			<a href="/postdetail/{{l.id}}/" target="_blank" class="hiding floatR marginR" title="open this item"><span class="glyphicon glyphicon-plus"></span></a>
			
			<div class="clearfix"></div>
				<span class="timestampText">{{ l.date|naturaltime }}</span><span class="timestampText"> </span>
		<div class="contentNewsFeed"><span id="feedText{{forloop.counter}}" class="">{% autoescape off %}{{l.content}}{% endautoescape %}</span>{% if l.previewurl %}<div class="previewContains" id="previewContains{{forloop.counter}}">{% autoescape off %}{{l.previewurl}}{% endautoescape %}</div>{% endif %}
			{% if l.image.all %}
		<div class="imagePanel clearfix marginT">
			{% for img in l.image.all %}
			<a href="" class="imageModalLink floatL" onclick="get_image(this)" data-target="#imageModal" data-toggle="modal" ><img src="{{MEDIA_ROOT}}{{img}}" alt="" class="postImage floatL"/></a>
			{% endfor%}
		</div>
		{% endif %}
		</div>
		
		</div>
		<div class="clearfix"></div>
		 <div class="commentBox" >
		 	<div class="postStatBox clearfix">
			{% if user.is_authenticated %}{% phileo_widget user l %}
			{%else%}
			<a class="btn btn-default smallFont ajax" href="#" onmouseover="showtooltipfeed(this);" onmouseover="hidetooltipfeed(this);" onclick="logch(event);" title="Like">
			<span class="glyphicon glyphicon-thumbs-up largeFont " title="Like"></span><span class="likeNum">Like</span></a>
			<a class="btn btn-default smallFont ajax marginL" href="#" onmouseover="showtooltipfeed(this);" onmouseover="hidetooltipfeed(this);"  onclick="logch(event);" title="share">
			<span class="glyphicon glyphicon-share-alt largeFont " title="Share"></span><span class="likeNum">Share</span></a>
			<div class="clearfix"></div>
			<span class="likeTxt">{{l|likes_count}} people liked this</span>
			{% endif %}
			</div>	
				
				{% get_comment_form for posts.createpost l.id as comm_form %}
				
				{{ comm_form.content_type }}
				{{ comm_form.object_pk }}
				{{ comm_form.timestamp }}
				{{ comm_form.security_hash }}
				<input type="hidden" value='{{ csrf_token }}'id='id_csrf' />
				
				{% get_comment_count for posts.createpost l.id as count %}
				 {% if count = 0 or count = 1 or count = 2 %} 
						{% get_comment_list for posts.createpost l.id as comment_list %}
							<div class="parentCommentList">
							
							<hr>
							{% for comment in comment_list %}
								
									<div class="commentList clearfix">
									
									<div class="commentUser">
									<a href="{{comment.user.get_absolute_url}}"><img src="{{ comment.user.get_profile.mugshot }}" class="commentMugshot"/></a>
									</div>
									
									<div class="commentBody"> 
										<span><a href="{{comment.user.get_absolute_url}}"><b>{{ comment.user }}</b></a>
										<span class="commentTxt" id="commentTxt{{forloop.parentloop.counter}}{{forloop.counter}}">{% autoescape off %}{{ comment.comment}} {% endautoescape %}</span></span>
									</div>

									<div class="commentTimestamp">
										<span class="timestampText">{{comment.submit_date|naturaltime}} </span>
										{% if user.is_authenticated %}{% phileo_widget_brief request.user comment %}<span> · </span>{% if comment.user == request.user or l.author == request.user %}
                                        <a href="javascript:void(0);" data-content="<a href='javascript:void(0);' onclick = 'delete_comment({{comment.id}},this)'>Delete</a>" class="deleteCommentLink colorGrey">Delete</a>
                                        {% else %}
                                        <a href="javascript:void(0);" data-content="<a href='javascript:void(0);' onclick = 'report_comment({{comment.id}},this)'>Report</a>" class="reportCommentLink colorGrey">Report</a>
                                        <input type="hidden" id="id_content_obj" value="{{l.id}}">
                                        {% endif %}
										{% else %}
										<span class="phileoComment">
										<a class="btn btn-default smallFont ajax" href="#" onmouseover="showtooltipfeed(this);" onmouseover="hidetooltipfeed(this);" onclick="logch(event);" title="Good one">
										<span class="glyphicon glyphicon-circle-arrow-up" style="font-size:12px;" title="Like"><span class="commentLikeCount">{% if comment|likes_count != 0 %}{{comment|likes_count}}{% endif %}</span></span></a>
										</span>
										{% endif %}
									</div>
									
									</div>
								
							{% endfor %}
							</div>
							
							<div class="commentForm clearfix input-group-sm marginT">
							<textarea id = "id_new_comment{{forloop.counter}}" onfocus="tinyMCEcomm(this);" class="commentArea form-control noResize"  placeholder="Write a comment..." required></textarea>
							<div class="btn-group btn-group-sm floatR hiding marginT">
							<button type="submit"  class="commentSubmit btn btn-default" {% if user.is_active %}onclick="postComm(this);"{%else%}onclick="actch(event);"{%endif%}>
							<b>Comment</b></button>
							</div>
							<input type="hidden" value="" class="tagElement"/>
							</div>
							
				{% else %}
					
					<!-- <div class="parentCommentList">
					</div> -->
					 {% get_comment_list for posts.createpost l.id as comment_list %}
					 <hr>
							<a href="javascript:void(0)" class="marginT" onclick="getCommentList(this,{{posts.id}})">View previous comments({{count|add:"-2"}})</a>
							<div class="parentCommentList marginT">
							
							{% for comment in comment_list|slice:"-2:"  %}
									
									<div class="commentList clearfix">
									
									<div class="commentUser">
									<a href="{{comment.user.get_absolute_url}}"><img src="{{ comment.user.get_profile.mugshot }}" class="commentMugshot"/></a>
									</div>
									<div class="commentBody"> 
										<span><a href="{{comment.user.get_absolute_url}}"><b>{{ comment.user }}</b></a>
										<span class="commentTxt" id="commentTxt{{forloop.parentloop.counter}}{{forloop.counter}}">{% autoescape off %}{{ comment.comment}} {% endautoescape %}</span></span>
									</div>

									<div class="commentTimestamp">
										<span class="timestampText">{{comment.submit_date|naturaltime}} </span>
										{% if user.is_authenticated %}{% phileo_widget_brief request.user comment %}
                                       <span> · </span>{% if comment.user == request.user or l.author == request.user %}
                                        <a href="javascript:void(0);" data-content="<a href='javascript:void(0);' onclick = 'delete_comment({{comment.id}},this)'>Delete</a>" class="deleteCommentLink colorGrey">Delete</a>
                                        {% else %}
                                        <a href="javascript:void(0);" data-content="<a href='javascript:void(0);' onclick = 'report_comment({{comment.id}},this)'>Report</a>" class="reportCommentLink colorGrey">Report</a>
                                        <input type="hidden" id="id_content_obj" value="{{l.id}}">
                                        {% endif %}
										{% else %}
										<span class="phileoComment">
										<a class="btn btn-default smallFont ajax" href="#" onmouseover="showtooltipfeed(this);" onmouseover="hidetooltipfeed(this);" onclick="logch(event);" title="Good one">
										<span class="glyphicon glyphicon-circle-arrow-up" style="font-size:12px;" title="Like"><span class="commentLikeCount">{% if comment|likes_count != 0 %}{{comment|likes_count}}{% endif %}</span></span></a>
										</span>
										{% endif %}
									</div>
									
									</div>
								
							{% endfor %}
							</div>
					
					
					<div class="commentForm clearfix input-group-sm marginT">
					<textarea id = "id_new_comment{{forloop.counter}}" onfocus="tinyMCEcomm(this);" class="commentArea form-control noResize"  placeholder="Write a comment..." required></textarea>
					<div class="btn-group btn-group-sm floatR hiding marginT">
							<button type="submit"  class="commentSubmit btn btn-default" {% if user.is_active %}onclick="postComm(this);"{%else%}onclick="actch(event);"{%endif%}>
							<b>Comment</b></button>
							</div>
					<input type="hidden" value="" class="tagElement"/>
					</div>
					
				{% endif %}
			</div>
		
			<script type="text/javascript">
			var e1 = document.getElementById('id_content_type');
			var e3 = document.getElementById('id_timestamp'); 
			var e2 = document.getElementById('id_object_pk'); 
			var e4 = document.getElementById('id_security_hash'); 
			var e5 = document.getElementById('id_csrf');
			e1.id = 'id_ctype{{forloop.counter}}';
			e2.id = 'id_opk{{forloop.counter}}';
			e3.id = 'id_timestamp{{forloop.counter}}';
			e4.id = 'id _sh{{forloop.counter}}';
			e5.id = 'id_csrf{{forloop.counter}}';
			</script>
        <hr>
		</div>

{% endfor %}