<div id="reportModal" class="modal fade in" tabindex="-1" aria-hidden="true">
	<div class="modal-content loginModalSizing">
	 <div class="bgDark">
	 <button type="button" class="close fontColor" data-dismiss="modal" aria-hidden="true">×</button>
	 <h4 class="fontColor">Tell us what is wrong with this comment</h4>
	 </div>
	  <div class="modal-body">

		<div class="input-group">
            <input type="checkbox" value="harass"><label style="bottom:0;" for>It is harassing me</label>
            <div class="clearfix"></div>
            <input type="checkbox" value="irrelevant"><label style="bottom:0;" for>It contains irrelevant content</label>
            <div class="clearfix"></div>
             <input type="checkbox" value="sexualcontent"><label style="bottom:0;" for>It contains sexually explicit content or profain language</label>
            <div class="clearfix"></div>
             <input type="checkbox" value="spam"><label style="bottom:0;" for>It is a spam</label>
            <div class="clearfix"></div>
            <input type="checkbox" value="hatespeech"><label style="bottom:0;" for>It contains hate speech</label>
            <div class="clearfix"></div>
            <button class="btn btn-primary marginT" onclick="reportComment(this)">Report it</button>
		</div>
	  </div>
	</div>
	</div>