{% extends 'landing/landing2.html' %}
{% load static %}
{% load humanize %}
{% load activity_tags %}
{% block title %}Following threads{% endblock %}
{% block postArea %}
         <div class="largeFont discussionContainer"><h4 class="marginTZero">Following Threads</h4>
      <p class="marginT"> <span class="glyphicon glyphicon-list largeFont colorBlue"></span><span class="largeFont" style="margin-left:3px;">{{no_threads}} threads</span>
      </p>
		</div>
<div id="followThreadList" style="margin-top:10px;">
    {% include 'threads/following_threads.html' %}
</div>
{% endblock %}
{% block newsFeed %}

{% endblock %}
         {% block footer %}
        {% include 'base/footer.html' %}
        {% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fileuploader.js' %}"></script>
<script type="text/javascript">
followingthreadlist(); highlightpanel(document.URL,'{{user.username}}');
var stickyTop = $('#sideMenu').offset().top; // returns number 
 
	$(window).scroll(function(){ // scroll event  
 
    var windowTop = $(window).scrollTop(); // returns number
 
    if (stickyTop < windowTop) {
      $('.affix-top').css('position','fixed');
	  $('.affix-top').css('top','0px');
    }
    else {
      $('.affix-top').css('position','static');
	  $('.affix-top').css('top','0');
    } 
  });
 $.endlessPaginate({pageSelector: '#followThreadList', onCompleted: function(context, fragment){
                    $('.threadBrief').each(function(){
                    $(this).html($(this).text());
                    });
                    $('#followedthreads').find('.panel-body').find('img').each(function(i){
                     var url = $(this).attr('src');
                    url = url.substring(2);
                    $(this).attr('src',url);
					$('.urltooltip').tooltip();
				});
				}});


</script>
{% endblock %}