{% autoescape off %}{% load url from future %}
<html>
<body>
    <div style="max-width:600px;min-width:320px; margin-left:auto;margin-right:auto;border:1px solid #ddd;">
		<div style="height:50px;width:100%;padding:5px 10px;text-align:center;">
			<a href="http://www.houseofgrads.com/"><img style="width:202px;" src="http://houseofgrads.com/static/img/logo5.png" title="" /></a>
		</div>
		<div style="padding:5px 10px;">
			<p>Hi {{user.get_profile.get_full_name_or_username}},</p>
			<p>You're receiving this e-mail because you requested a password reset
            for your user account at {{ site_name }}</p>
			<p style="margin-top:20px;">Please go to following page to reset your password.</p>
			 <a href="{{ protocol }}://{{ domain }}{% url 'userena_password_reset_confirm' uidb64=uid token=token %}">
			 {{ protocol }}://{{ domain }}{% url 'userena_password_reset_confirm' uidb64=uid token=token %}</a>
			<p>Your username, in case you've forgotten: {{ user.username }}</p>
			<p style="margin-top:20px;">With regards,</p>
			<p><a href="http://www.houseofgrads.com/">HouseofGrads.com</a></p>
		</div>
		<div style="width:100%;margin-top:20px; padding:5px 10px;font-size:9px;color:#ccc;">
		<p>This email was sent to {{user.email}}. If you are not intended recipient then kindly ignore this mail.</p>
		</div>
	</div>
</body>
</html>
{% endautoescape %}
