{% extends 'landing/landing2.html' %}
{% load static %}{% block title %}Reset password{% endblock %}
{% block bodyContent %}
<div class="container">
<div class="col-lg-12">
<div>
<div class="panel panel-default">
<div class="panel-heading largeFont">Choose a new password</div>
<form action="" id="newPassForm" method="post">{% csrf_token %}
<div class="panel-body">
	<div class="alert alert-success largeFont">
		Your password has been successfully updated. Please <a href="#" data-target="#loginModal" data-toggle="modal"><b><u>login</u></b></a> to continue.
	</div>
</div>

</form>
</div>
</div>

</div>
</div>
{% block postArea %}
{% endblock %}
{% block newsFeed %}

{% endblock %}
         {% block footer %}
        {% include 'base/footer.html' %}
        {% endblock %}
{% endblock %}
{% block js %}

{% endblock %}

