{% extends 'userena/profile_form.html' %}
{% load url from future %}

{% block title %}Change password{% endblock %}

{% block postArea %}
<div>
<div class="panel panel-primary">
<div class="panel-heading largeFont">Change your password</div>
<form action="" method="post" id="password_change_form">
    {% csrf_token %}
	<div class="panel-body">
	<div class="row clearfix">
	<div class="input-group floatL" style="width:70%;">
	<span class="input-group-addon">Current password:</span>
    <input id="id_old_password" class="form-control" name="old_password" type="password"></div>
	</div>
	<div class="row clearfix marginT">
			<div class="input-group floatL" style="width:70%;">
				<span class="input-group-addon">New password:</span>
				<input id="id_new_password1" name="new_password1" class="form-control" type="password" value=""/>
				</div>
			</div>
				<div class="row clearfix marginT">
				<div class="input-group floatL" style="width:70%;">
				<span class="input-group-addon">Confirm new password:</span>
				<input id="id_new_password2" class="form-control" name="new_password2" type="password">
				</div>
				
	</div>
<div class="row clearfix marginT">
	<button type="submit" id="updatePassword" class="btn btn-primary">Update password</button>
</div>
	</div>
</form>
</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

</script>
{% endblock %}
